table {
    border-collapse: collapse;
    border: 3px solid black;
}
td {
    border: 2px solid indigo ;
    padding: 5px;
    text-align: right;
}
caption {
    caption-side: bottom;
    text-align: center;
}
th {
    border: solid 5px red;
    text-align: center;
}